
body {
    padding: 0;
    margin: 0;
}
#navigation_small {
    display: none;
}

/*NAVIGATION*/

.navigation_large {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
}
#main_logo {
    float: left;
    margin-left: 2%;
    width: 100px;
    height: 60px;
}
#khmer-house {
    margin: auto;
    width: 40%;
    height: 60px;
    font-size: 2em;
}
.navigation {
    height: 60px;
    width: 80%;
    margin-left: 130px;
    max-width: 85%;
}
.navigation_ul {
    width: 100%;
    padding-left: 40px;
    max-width: 90%;
    margin-top: 0;
}
.navigation a {
    font-size: 18px;
    font-family: 'Open Sans', Yu Gothic UI, Avenir-Medium;
    text-transform: ;
    text-decoration: none;
}
.navigation_ul>li {
    display: inline-block;
    margin-top: 13px;
    margin-right: 25px;
    margin-left: 0px;
    font-color: black;
}
.navigation_ul>li>a {
    display: block;
    height: 40px;
    padding-top: 10px;
    max-width: 100%;
}
#branch_name_small {
    display: none;
}
#branch-name-small-2-rows {
    display: none;
}

/*YOU ARE HERE*/
.you-are-here {
    height: 24px;
    padding-top: 2px;
    padding-left: 10px;
    background-color: black;
    color: white;
    font-family: 'Open Sans', Yu Gothic UI, Avenir-Medium;
    clear: both;
    position: relative; 
    z-index: 2;
    opacity: 0.5;
}
.you-are-here a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*TOP PHOTO*/

#background {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 670px;
    max-width: 100%;
    font-family: 'Open Sans', Yu Gothic UI, Avenir-Medium;
    margin-top: -87px;
    position: relative; 
    z-index: 0;
}
.contents-top {
    width: 100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}
.contents-top h1 {
    float: left;
    margin-top: -31%;
    margin-left: 3%;
    color: white;
    font-size: 3.3em;
}
.contents-top h2 {
    margin-left: 4%;
    font-size: 1.1em;
    text-align: left;
    margin-bottom: -2%;
}
.contents-top p {
    font-size: em;
    text-align: left;
    margin-bottom: 0%;
}

#top-photo-kampot {
    width: 100%;
    background-image: url("../images/kampot/main_img_dt.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-siem-reap {
    width: 100%;
    background-image: url("../images/siem-reap-top-photo-1200-480.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-khmer-house {
    width: 100%;
    background-image: url("../images/khmer-house-800-400.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-phnom-penh {
    width: 100%;
    background-image: url("../images/phnom-penh-top-large.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-phnom-penh-one-stop {
    width: 100%;
    background-image: url("../images/phnom-penh-onestop-top-large.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-sihanoukville {
    width: 100%;
    background-image: url("../images/sihanoukville-top-large.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}
#top-photo-koh-rong-sanloem {
    width: 100%;
    background-image: url("../images/koh-rong-sanloem-top-large.jpg");
    background-size: cover;
    height: 0;
    padding-top: 40%;
}

/*INTRODUCTION*/ 

#introduction-photo-siem-reap {
    width: 33.3%;
    background-image: url("../images/2nd-best-large-hostel-worldwide-2020.jpg");
    background-size: cover;
    height: 0;
    padding-top: 33.3%;
    float: left;
}
#introduction-photo-kampot {
    width: 33.3%;
    background-image: url("../images/kampot/intro_img.jpg");
    background-size: cover;
    height: 0;
    padding-top: 33.3%;
    float: left;
}
#introduction-photo-phnom-penh {
    width: 33.3%;
    background-image: url("../images/go-to-phnom-penh.jpg");
    background-size: cover;
    height: 0;
    padding-top: 33.3%;
    float: left;
}
#introduction-photo-sihanoukville {
    width: 33.3%;
    background-image: url("../images/go-to-sihanoukville.jpg");
    background-size: cover;
    height: 0;
    padding-top: 33.3%;
    float: left;
}
#introduction-photo-koh-rong-sanloem {
    width: 33.3%;
    background-image: url("../images/koh-rong-sanloem-introduction.jpg");
    background-size: cover;
    height: 0;
    padding-top: 33.3%;
    float: left;
}
#introduction {
    width: 66%;
    float: left;
    
}
#introduction_message {
    font-size: 1.2em;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#introduction-message-1 {
    font-size: 1.1em;
    margin-top: 0;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
}
#introduction-message-2 {
    font-size: 1.1em;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
    line-height: 1.5em;
}
#introduction-message-3 {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
    line-height: 1.5em;
}
#location {
    display: none;
}
#introduction-siem-reap{
    float: right;
    width: 50%;
    max-height: 100%;
    font-size: 1.2em;
    text-align: left;
    padding-top: 2%;
    height: 0;
    padding-top: 30.9%;
    background-image: url("../images/img_facilities_tour_1.jpg");
    background-size: cover;
}
#introduction-siem-reap p{
    color: white;
    max-height: 100%;
    padding-top: 2%;
    height: 0;
    margin-top: -60%;
}

#siem-reap-hostel-location {
    float: left;
    width: 50%; 
    background-image: url("../images/img-siem-reap-hostel-location-2.jpg");
    background-size: cover;
    height: 0;
    padding-top: 30.9%;
}
#header{
    border-radius: 5px;
    height: 20px;
    width: 250px;
    background-color: black;
}
.navigation_large a:link {
    color:black; text-decoration:none
}
.navigation_large a:visited {
    color:black; text-decoration:none
}
.contents_middle a:link {
    color:white; text-decoration:none
}
.contents_middle a:visited {
    color:white; text-decoration:none
}
#background a:hover {
    color:#B0B0B0; text-decoration:none
}
.navigation li:hover > a {
    color:#B0B0B0; text-decoration:none
}
li.menu__single ul.menu__second-level a:hover {
    color:#B0B0B0; text-decoration:none
}
li.menu__single_2 ul.menu__second-level a:hover {
    color:#B0B0B0; text-decoration:none
}
li.menu__single_3 ul.menu__second-level a:hover {
    color:#B0B0B0; text-decoration:none
}
#linebottom {
    border-top:;
    border-bottom: solid black 11px;
}
img {
    max-width: 100%;
}

/*PAGE CONTENTS*/
.contents-title{
    float: left;
    width: 85%;
    height: 28px;
    max-height: 100%;
    font-size: 2em;
    text-align: left; 
    margin-top: -48%;
    color: white;
    padding-left: 0.5em;
}
.contents-middle {
    clear: both;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.contents-middle h2 {
    font-size: 1em;
    font-weight: normal;
}
.contents-introduction {
    clear: both;
    height: 0;
    padding-top: 50%;
    width: 100%;
    background-color: #F5F5F5;
}
.contents-introduction-2 {
    clear: both;
    height: 0;
    padding-top: 50%;
    width: 100%;
    background-color: #G0G0G0;
}
.contents-introduction-text {
    margin-top: -47%;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
}
.contents-introduction-view-more {
    margin-top: ;
    text-align: right;
    padding-left: 10%;
    padding-right: 10%;
}

.contents-middle-description {
    padding-top: -30%;
}
.contents-middle-description p {
    clear: both;
    width: 80%;
    margin-top: ;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}
.view-more {
    margin-top: -5%;
    text-align: right;
    margin-bottom: 3%;
}
.inline-2or3 {
    width: 33.3%;
    float: left;
}
.contents_middle_description {
    float: left;
    width: 85%;
    height: 28px;
    max-height: 100%;
    font-size: 2em;
    text-align: left; 
    margin-top: -48%;
}
.contents_middle_description_text {
    text-align: left;
    padding-left: 0.5em;
    margin-top: 0px;
    margin-bottom: 0.1em;
    color: white;
}
.contents-description-detail-long-text {
    text-align: left;
    padding-left: 0.5em;
    margin-top: 0px;
    margin-bottom: 0.1em;
    color: white;
}

/*PAGE CONTENTS SIEM REAP*/

.inline-2 {
    width: 50%;
    float: left;
}
#go-to-night-market {
    clear: both;
    float: left;
    width: 100%;
    background-image: url("../images/go-to-angkor-night-market-large2.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
    border-right: 0.1em solid dimgray;
}
#go-to-pub-street {
    clear: both;
    float: left;
    width: 100%;
    background-image: url("../images/go-to-pubstreet-large.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
.contents-description-title {
    text-align: left;
    width: 98%;
    margin-top: -7%;
    font-size: 1.7em;
    color: white;
    float: left;
    padding-left: 2%;
}
.contents-description-detail-left {
    text-align: left;
    width: 97%;
    padding-bottom: 2%;
    padding-left: 3%;
    font-size: 1.2em;
    float: left;
}
.contents-description-detail-left p {
    margin-top: 3%;
    margin-bottom: 3%;
}
.contents-description-detail-right {
    text-align: left;
    width: 97%;
    padding-bottom: 2%;
    padding-left: 3%;
    font-size: 1.2em;
    float: left;
}
.contents-description-detail-right p {
    margin-top: 3%;
    margin-bottom: 3%;
}

/*PAGE CONTENTS SIEM REAP*/

#sr-goto-room-photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-rooms.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr_goto_facilities_photo {
    float: left;
    width: 100%;
    background-image: url("../images/onederzsr-facilities.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr_goto_tour_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-tour.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr_goto_location_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-location.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr_goto_contact_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-contact.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr_goto_booking_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-booking.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#sr-go-to-airport-pickup-photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-airport-pickup.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}

/*PAGE CONTENTS KAMPOT*/

#kampot-contents-rooms-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img01.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#kampot-contents-facilities-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img02.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#kampot-contents-tour-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img03.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#kampot-contents-location-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img04.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#kampot-contents-contact-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img05.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#kampot-contents-booking-photo {
    float: left;
    width: 100%;
    background-image: url("../images/kampot/contents_img06.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}

.hide-large {
    display: none;
}


/*PAGE CONTENTS PHNOM PENH*/

#pp-contents-rooms-photo {
    float: left;
    width: 100%;
    background-image: url("../images/phnom_penh_room.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#pp-contents-facilities-photo {
    float: left;
    width: 100%;
    background-image: url("../images/phnom_penh_facilities.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#pp-contents-tour-photo {
    float: left;
    width: 100%;
    background-image: url("../images/phnom-penh-tour.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#pp-contents-location-photo {
    float: left;
    width: 100%;
    background-image: url("../images/phnom-penh-location.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#pp_goto_contact_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-contact.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#pp_goto_booking_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-booking.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}

/*PAGE CONTENTS SIHANOUKVILLE*/

#shv_goto_room_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-rooms.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#shv_goto_facilities_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-facilities.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#shv_goto_tour_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-tour.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#shv_goto_location_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-location.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#shv_goto_contact_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-contact.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#shv_goto_booking_photo {
    float: left;
    width: 100%;
    background-image: url("../images/siem-reap-booking.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}

/*PAGE CONTENTS SIHANOUKVILLE*/

#shv_goto_room_photo {
    float: left;
    width: 100%;
    background-image: url("../images/sihanoukville-rooms.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#krs-goto-facilities-photo {
    float: left;
    width: 100%;
    background-image: url("../images/koh-rong-sanloem-facilities.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}
#krs-goto-location-photo {
    float: left;
    width: 100%;
    background-image: url("../images/koh-rong-sanloem-location.jpg");
    background-size: cover;
    height: 0;
    padding-top: 50%;
}



#branch-footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#branch-footer p {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-top: 0;
    margin-bottom: 0;
}

.no-link {
    pointer-events: none;
}

a:link {
    color:black; text-decoration:none
}
a:visited {
    color:black; text-decoration:none
}
a:hover {
    color:#B0B0B0; text-decoration:none
}

.you-are-here a:link {
    color:white; text-decoration:none
}
.you-are-here a:visited {
    color:white; text-decoration:none
}
.you-are-here a:hover {
    color:#B0B0B0; text-decoration:none
}

.link-white:link {
    color:white; text-decoration:none
}
.link-white:visited {
    color:white; text-decoration:none
}
.link-white:hover {
    color:#B0B0B0; text-decoration:none
}

/*KHMER HOUSE PAGE CONTENTS*/

#top-photo-khmer-house {
    width: 100%;
    background-image: url("../images/khmer-house-top-photo-pc.jpg");
    background-size: cover;
    height: 0;
    padding-top: 42%;
}
#introduction-khmer-house {
    margin-top: 20%;
    padding-left: 7%;
    width: 85%;
}
#introduction-khmer-house h2 {
    text-align: left;
    padding-top: 3%;
    padding-left: 5%;
    font-size: 3em;
    font-weight: normal;
}
#introduction-khmer-house-1 {
    font-size: 1.7em;
    padding-left: 5%;
    padding-right: 3%;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 0;
}
#introduction-khmer-house-2 {
    font-size: 1.7em;
    padding-left: 5%;
    padding-right: 3%;
    text-align: left;
    margin-bottom: 2%;
}
#introduction-khmer-house-3 {
    font-size: 1.7em;
    padding-left: 5%;
    padding-right: 3%;
    text-align: left;
    padding-bottom: 7%;
    margin-bottom: 0;
}